*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.SECTION-area-1{
    background-color: #1F2937;
    height: 500px;
}

.navbar{
    height: 60px;
    color: #fff;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar ul{
    display: flex;
    align-items: center;
    height: 60px;
    gap: 10px;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

ul{
    list-style-type: none;
    font-size: 18px;
    color:#E5E7EB;
}


.content-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    gap: 50px;
}


.hero-title,span{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

span{
    display: block;
}

.para{
    font-size: 18px;
    color:#E5E7EB;
}


.content-image img{
    width: 500px;
    height: 250px;
}

.main-title{
    align-self: flex-start;
}

/* .hero-section{
    background-color: #1F2937;
    height: 300px;
} 

 .navbar{
} 

 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font-size: 24px;
    color: white;
    font-weight: 900;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.content-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 170px 10px;
}


.main-title{
    align-self: center;
}


.hero-title span{
    display: block;
} 



.main-div{

}


.first-section{
    background-color: #1F2937;
    height: 300px;
}


.header{
    display: flex;
    flex-direction: column;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
}


.sub-nav{
    display: flex;
    gap: 25px;
    font-size: 20px;
}


.content-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}


.content-main img{
    width:400px;
    height: 150px;
}

.content-head h1{
    font-size: 48px;
    border-color: #F9FAF8;
    font-weight: 900;
}

.content-main p{
    line-height: 20px; 
    word-break: ;
    line-break: anywhere;

} */
